---
import Frame from "../layout/frame.astro";
---

<Frame title="Product title">
  <div id="top_grid">
    <div>
      <h2 class="hvem">Hvem er Recraft Cph?</h2>
      <p class="text">
        Recraft Cph er en innovativ dansk virksomhed, der bærer bæredygtighedens
        fane højt inden for modeverdenen. Med en dedikation til genbrug og
        genanvendelse af materialer har de specialiseret sig i at skabe
        stilfulde accessories og tøj med en unik og miljøvenlig tilgang. Deres
        produkter er ikke kun æstetisk tiltalende, men også et skridt i retning
        af en mere ansvarlig modeindustri, hvor spild reduceres, og ressourcer
        udnyttes optimalt. Recraft Cph's vision om at fusionere stil med
        bæredygtighed gør dem til en frontløber i kampen for en grønnere fremtid
        inden for mode.
      </p>
    </div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/LTrxVOFX_Sk?si=YWbYFGkk9sz1UF_T" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <div id="top_grid">
    <img class="profil" src="/public/img/milleabout.webp" alt="" />
    <div class="moed">
      <h2 class="mover">Mød Mille</h2>
      <p class="text1">
        Hejsa, Mit navn er Mille Marie og det er mig som er designeren og
        syersken bag mit brand: Recraft Cph. Jeg går ind for bæredygtighed og
        genanvendelse af fraklippet læder og tekstiler. Recraft cph arbejder
        med enkelthed og funktionalitet. Læderet, som er 100% ægte, er overskud
        fra møbelproduktion.Der skæres store mængder læder fra, når der
        produceres møbler, som normalt ender til forbrænding.Recraft cph opkøber
        dette restlæder og overskudslæder fra en møbelproducent og upcycler det
        helt ubrugte læder til nye og lækre produkter.
      </p>
      <button class="btn">Kontakt</button>
    </div>
  </div>

  <style>
    main {
      padding-top: 46px;
    }
    #top_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 40px;
      margin-top: 20px;
    }
    .profil {
      margin: auto;
    }
    .moed {
      margin-left: 30px;
      margin-top: 20px;
      margin: auto;
    }
    .text1,
    .text {
      max-width: 65ch;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .text {
      margin: auto;
      margin-top: 10px;
    }
    .btn {
      margin: auto;
    }
    .mover {
      margin-left: -4px;
    }
    .hvem {
      text-align: center;
      margin-left: -7px;
    }
    @media (max-width: 800px) {
      #top_grid {
        display: block;
      }
      .profil {
        display: block;
        margin: 20px auto;
      }
      .moed {
        margin: auto;
      }
      .mover,
      .btn {
        display: block;
        margin: 10px auto;
        text-align: center;
      }
    }
  </style>
</Frame>
