---
import Frame from "../layout/frame.astro";
import Testsupabase from "../components/Testsupabase.astro";

const data = await fetch("https://hkltapzneruelglyxqhl.supabase.co/rest/v1/Recraftcph?select=*",{
  method:"GET",
  headers:{
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrbHRhcHpuZXJ1ZWxnbHl4cWhsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTU1OTMyOTksImV4cCI6MjAzMTE2OTI5OX0.FQkPXh4GnFu6SnWkHdluQYFqHcG2cY2eE5Q8AnBtOlw"
  }
}).then(res=>res.json());

console.log(data);
---

<Frame pageTitle="Recractcph - Hjem">
  <h1>Recraft CPH</h1>
  <h2>En verden i læder</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus facere
    nulla aspernatur cum, nisi, reprehenderit commodi beatae, dignissimos
    nihil non inventore maiores iste tempore consequatur! Eius velit
    temporibus natus tempore.
  </p>
  <img src="" alt="" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sit hic
    odio laborum rem explicabo sequi dicta officiis dolor obcaecati, pariatur
    voluptate? Tenetur architecto omnis similique explicabo cupiditate ab
    aspernatur.
  </p>
  <h2>Kitchenware</h2>
  <img src="" alt="" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae
    temporibus nemo sed voluptatibus voluptatum quas. Deleniti, perferendis.
    Officia saepe consequuntur autem natus neque, porro, provident nobis
    placeat pariatur ut tempora?
  </p>
  <h2>Accesories</h2>
  <img src="" alt="" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
    quibusdam, quod laborum velit magni expedita totam ea deleniti fuga sed
    natus adipisci accusantium ipsa aliquid odit suscipit nihil. Eos, minima!
  </p>
  <section>
    {
    data.map((item) => {
      return <Testsupabase data={item} />
    })
    }
  </section>
</Frame>
