---
import Frame from "../layout/frame.astro";
---

<Frame pageTitle="Recractcph - Hjem">
  <div class="karrusel_container">
    <h1>Recraft CPH</h1>
    <div class="karrusel_inner">
      <div class="karrusel">
        <img src="img/1.JPG" style="width:100%" />
      </div>
      <div class="karrusel">
        <img src="img/2.JPG" style="width:100%" />
      </div>
      <div class="karrusel">
        <img src="img/3.JPG" style="width:100%" />
      </div>
    </div>
    <a class="forrige" onclick="plusSlides(-1)">&#10094;</a>
    <a class="naeste" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <h4 class="intro">En verden i læder</h4>
  <p class="velkommen">
    Velkommen til Recraft cph, hvor hvert produkt er et skridt mod en mere
    bæredygtig fremtid og en hyldest til den skønhed, vi finder i genanvendelse
    og kreativitet.
  </p>
  <div class="mille_container">
    <img src="img/mille.webp" alt="mille" />
    <p>
      Hejsa, Mit navn er Mille Marie, og det er mig som er designeren og
      syersken bag mit brand: Recraft cph. Jeg går ind for bæredygtighed og
      genanvendelse af fraklippet læder og tekstiler.

      <br /><br />Min passion for håndværk og kærlighed til miljøet driver mig
      til at skabe unikke og smukke produkter, der ikke kun er et udtryk for min
      kreativitet, men også min overbevisning om en mere bæredygtig fremtid. Jeg
      tror på at reducere spild og give materialer et nyt liv. Ved at bruge
      restmaterialer og genanvende læder og tekstiler formår jeg at skabe
      produkter med en unik historie og en grøn samvittighed. Jeg stræber efter
      at forene æstetik og ansvarlighed, så mine kunder kan føle sig godt tilpas
      med deres valg, mens de samtidig nyder smukke og funktionelle produkter.
    </p>
  </div>

  <h2>Kitchenware</h2>
  <div class="billede_container">
    <img src="img/grydelapper.webp" alt="grydelapper" />
    <img src="img/grillhandsker.webp" alt="grill handsker" class="ekstra_img" />
    <img src="img/tehætte.webp" alt="te hætte" class="ekstra_img" />
    <div class="tekst_knap">
      <p>
        Hvert produkt er skabt med opmærksomhed og bæredygtihed i tankerne for
        at sikre, at dit køkkenudstyr ikke kun er funktionelt, men også smukt
        udført. Opdag den unikke charme og kvalitet, som kun håndlavede
        produkter kan tilbyde, og gør din madlavning til en endnu mere
        fornøjelig oplevelse med de håndlavede køkkenudstyr. <br /><br />Du
        finder alt fra smukke grydelapper, der både beskytter dine hænder og
        tilføjer et strejf af elegance til dit køkken, til praktiske
        grillhandsker, der gør grillaftener til en leg, og alt hvad du behøver
        for at gøre madlavningen til en fornøjelse. Bliv inspireret til at skabe
        kulinariske mesterværker derhjemme og udforsk produkterne i dag.
      </p>
      <a href="/listeview" class="knap">Se produkter</a>
    </div>
  </div>
  <h2>Accesories</h2>
  <div class="billede_container">
    <img src="img/makeuppung.webp" alt="makeup pung" />
    <img src="img/grøntaske.webp" alt="grøn taske" class="ekstra_img" />
    <div class="tekst_knap">
      <p>
        Hver accessory er omhyggeligt fremstillet med fokus på opmærksomhed og
        bæredygtighed for at sikre, at dine accessories ikke kun er praktiske,
        men også smukt udførte. Opdag den unikke charme og kvalitet, som kun
        håndlavede produkter kan tilbyde, og gør dine daglige rutiner til en
        endnu mere fornøjelig oplevelse med vores eksklusive accessories. <br />
        <br /> Du vil finde alt fra elegante makeup-punge, der organiserer dine skønhedsprodukter
        med stil, til funktionelle tasker, der fuldender dit outfit med både elegance
        og funktionalitet. Udvalget spænder bredt og byder på accessories til enhver
        smag, så du kan tilføje et personligt præg til dit look og din hverdag. Bliv
        inspireret af det unikke udvalg af håndlavede accessories og gør din stil
        til en refleksion af din personlighed og smag.
      </p>
      <a href="/listeview" class="knap">Se produkter</a>
    </div>
    <img
      src="img/grønmakeuppung.webp"
      alt="grøn makeup pung"
      class="ekstra_img"
    />
  </div>
</Frame>

<style>
  img {
    max-width: 100%;
  }

  h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
  }
  h2 {
    text-align: center;
    margin-top: 50px;
  }
  h4 {
    text-align: center;
  }
  .velkommen {
    max-width: 500px;
  }

  p {
    margin-bottom: 50px;
    max-width: 400px;
    margin: 0 auto;
  }

  .mille_container {
    background-color: #ede8e1;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .mille_container p {
    margin-top: 20px;
  }

  /* Skjul de ekstra billeder på mobil */
  .ekstra_img {
    display: none;
  }

  .knap {
    background-color: #616c5b;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    display: block;
    max-width: 150px;
    margin: 20px auto;
  }

  .knap:hover {
    background-color: #bab8a1;
  }
  .tekst_knap {
    margin-top: 20px;
  }

  /* Karrusel */
  .karrusel_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 50px;
  }

  .karrusel {
    display: flex;
    transition: transform 0.5s ease;
  }

  .karrusel img {
    height: 100vh;
    object-fit: cover;
  }

  /* Næste og forrige knap */

  .forrige,
  .naeste {
    cursor: pointer;
    position: absolute;
    top: 18%;
    transform: translateY(-300%);
    width: auto;
    padding: 16px;
    color: white;
    font-size: 20px;
    border: none;
    z-index: 1;
  }

  .forrige {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  .naeste {
    right: 0;
    border-radius: 0 3px 3px 0;
  }

  /* Desktop styling */
  @media (min-width: 800px) {
    .mille_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-bottom: 0;
    }
    .billede_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      align-items: center;
    }

    .billede_container img {
      margin: 5px;
    }

    /* Vis de ekstra billeder på desktop */
    .ekstra_img {
      display: block;
    }

    .tekst_knap {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .intro {
      margin-top: 50px;
    }
  }

  /* Karrusel */
  .karrusel_container {
    height: 100vh; /* Justeret højde for større skærme */
  }

  .forrige,
  .naeste {
    font-size: 24px;
    top: calc(50% - 40px);
  }

  .forrige {
    left: 10px;
  }

  .naeste {
    right: 10px;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides((slideIndex += n));
    }

    function currentSlide(n) {
      showSlides((slideIndex = n));
    }

    function showSlides(n) {
      let i;
      let slides = document.getElementsByClassName(
        "karrusel"
      ) as HTMLCollectionOf<HTMLElement>;
      if (n > slides.length) {
        slideIndex = 1;
      }
      if (n < 1) {
        slideIndex = slides.length;
      }
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slides[slideIndex - 1].style.display = "block";
    }

    let prevButton = document.querySelector(".forrige") as HTMLElement;
    let nextButton = document.querySelector(".naeste") as HTMLElement;

    prevButton.addEventListener("click", function () {
      plusSlides(-1);
    });

    nextButton.addEventListener("click", function () {
      plusSlides(1);
    });

    // Automatisk skift hvert 3. sekund
    setInterval(function () {
      plusSlides(1);
    }, 3000);
  });
</script>
