---
import Frame from "../layout/frame.astro";
---

<Frame pageTitle="Singleview">
  <!-- Slideshow container -->
  <div class="slideshow-container">
    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <img src="img/grillhandsker.webp" style="width:49.7%" />
      <img src="img/grønmakeuppung.webp" style="width:49.7%" />
    </div>

    <div class="mySlides fade">
      <img src="img2.jpg" style="width:45%" />
      <img src="img2.jpg" style="width:45%" />
    </div>

    <div class="mySlides fade">
      <img src="img3.jpg" style="width:45%" />
      <img src="img3.jpg" style="width:45%" />
    </div>
  </div>
  <div class="box" style="text-align: center;">
    <h3 class="productname">Lille "Dimse" Pung</h3>
    <h3 class="price">199,00 kr</h3>
    <p>Inklusiv moms</p>
    <div class="custom-select">
      <select>
      <option value="">Farve</option>
      <option value="">Blå</option>
      <option value="">Orange</option>
      <option value="">Gul</option>
      <option value="">Rød</option>
  </select>
  <span class="custom-arrow"></span>
    
  </div>
  <button class="btn">Læg i kurv</button>
  <div class="grid_1-1">
    <div class="venstre">
      <div class="beskrivelse1"><p>stand in text1</p></div>
      <div class="beskrivelse2"><p>stand in text2</p></div>
      <div class="beskrivelse3"><p>stand in text3</p></div>
    </div>
    <div class="højre">
      <h3>You might also like</h3>
      <img src="img/tehætte.webp" alt="hætte" style="width:65%"/>
    </div>
  </div>
</Frame>

<style>
  .mySlides {
    display: flex;
    text-align: center;
  }
.btn{
  background-color: #616C5B;
  border: 0;
  padding: 0.7em 4em;
  color: white;
  margin-top: 10px;
}
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .box {
    width: 320px;
    height: 250px;
    position: absolute;
    left: 468px;
    top: 250px;
    background: rgba(255, 255, 255, 0.5);
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }
  .productname{
    margin top
  }
  select{
    padding: 0.8em 2em;
    border-radius: 30px;
}

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .grid_1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
  }
  .højre{
    text-align: center;
  }
  .beskrivelse1, .beskrivelse2, .beskrivelse3{
    border-top: solid;
    border-width: 1.5px;
  }
  .beskrivelse3{
    border-bottom: solid;
    border-width: 1.5px;
  }
  .venstre p{
    margin: 50px 25px 50px 25px;
  }
  .venstre{
    margin-top: 50px;
  }
  </style>
