---
const { data } = Astro.props;
---

<article>
  <img class="product-image" src={`img/products/${data.image}`} alt={data.name} />
  <h2>{data.name}</h2>
  <h3>{data.price} kr,-</h3>
</article>

<style>
  .product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  h2 {
    margin-bottom: 0.5rem; /* Adjust this value as needed */
    font-weight: normal;
  }

  h3 {
    margin-top: 0.5rem; /* Adjust this value as needed */
    font-weight: normal;
  }
</style>
