---
const { pageTitle } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="stylesheet" href="/src/styles/global.css">
  <title>{pageTitle}</title>
</head>
<html lang="en">
  <body>
    <header>
      <nav>
        <div class="navtop">
            <div class="left">
                <img src="/public/img/navface.svg" alt="">
                <img src="/public/img/navinsta.svg" alt="">
            </div>
            <div class="logoholder">
                <a href="/"><h1 class="logo">RECRAFT</h1></a>
                <a href="/"> <h1 class="logo1">CPH</h1></a>
              
            </div>
            
            <div class="right">
                <img src="/public/img/Search.svg" alt="">
                <img src="/public/img/Kurv.svg" alt="">
            </div>
           </div>
           <ul class="navul">
            <a class="nava" href="/">Home</a>
            <a class="nava" href="/about">About</a>
            <a class="nava" href="/listeview">Products</a>
            <a class="nava" href="/">Contact</a>
           </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <div class="flexbox">
        <div class="flexboximg"><a href="/"><img src="../../public/img/logo.svg" alt="" style="width: 68%;"></a></div>
        <div class="flexboxitems">
          <div class="flexboximg1"><a href="/"><img src="../../public/img/Frame.svg" alt="" style="width: 68%;"></a></div>
          <div class="col1">
            <p class="bold">Information</p>
            <li>
              <ul><a href="">Kontakt</a></ul>
              <ul><a href="">Om Recraft CPH</a></ul>
              <ul><a href="">Alle produkter</a></ul>
              <ul><a href="">Rengøring</a></ul>
            </li>
          </div>
          <div class="col2">
            <p class="bold">RecraftCPH</p>
            <li>
              <ul>Tlf. 26251870</ul>
              <ul>Email:</ul>
              <ul>recraftcph@gmail.com</ul>
            </li>
          </div>
          <div class="col3">
            <p class="bold">Nyhedsbrev</p><form action="/action_page.php">
              <input
                type="text"
                placeholder="E-mailadresse"
                id="subdomain"
              /><br /><br />
              <input type="submit" value="Tilmeld" />
            </form>
          </div>
          <div class="col4">
            <p class="bold">Forhandler</p>
            <li>
              <ul>Kunst og Køkkentøj.</ul>
              <ul>Bernikow gården</ul>
              <ul>Østergade 26, 1100</ul>
              <ul>Kbh.</ul>
            </li>
          </div>
        </div>
      </div>
      <div class="SoMe">
        <a href=""><img src="../../public/img/Insta.svg" alt=""></a>
        <a href=""><img src="../../public/img/Facebook.svg" alt=""></a>
      </div>
    </footer>
    <!--  <script src="../db/single.js"></script> -->
    </body>
    </html>
    <style>
      nav{
          padding-top: 20px;
          
      }
      .navtop{
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1.3px black solid;
          padding-bottom:20px ;
          
      }
      .navul{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          list-style: none;
          justify-items: center;
          width: 50%;
          margin: -10px 0px -35px 25%;
          padding-top: 20px;
         
      }
      nav a{
        text-decoration: none;
      }
      .nava{
        font-family: LibreCaslon;
          color: black;
          font-size: 24px;
      }
      a:hover{
          color:#CCAB8F ;
      }
      .logoholder a:hover{
        color: black
            }
      .left{
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-left: 5%;
          gap: 1rem;
      }
      .right{
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-right: 5%;
          gap: 1rem;
      }
      .logo{
          font-size: 30px;
      }
      .logo1{
          font-size: 30px;
          margin-left: 42px;
          
          
      }
      .logoholder{
          display: grid;
          grid-template-rows: 1fr 1fr;
          margin: 0;
          padding: 0;
          align-items: baseline;
      }

      footer {
        border-top: 1px solid;
        background-color: #F4F4F4;
        margin-top: 50px;
      }
      .bold{
        font-weight: bold;
      }
      
      .flexbox {
        display: flex;
        margin-top: 40px;
      }
      
      .flexbox ul, .bold, form {
        margin: auto;
      }
      
      .flexbox li, a {
        list-style: none;
        color: black;
      }
      
      .flexboximg {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .flexboximg img {
        margin-left: 30px;
      }
      
      .flexboxitems {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 20px;
      }
      
      .flexboxitems ul {
        margin: 1px;
      }
      
      .col1, .col2, .col3, .col4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .col1 {
        border-bottom: 1px solid;
        border-right: 1px solid;
        li {
          margin-bottom: 10px;
        }
      }
      
      .col2 {
        border-bottom: 1px solid;
        li {
          margin: 10px 0px;
        }
      }
      
      .col3 {
        border-right: 1px solid;
        form {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
        }
      }
      .flexbox li{
        margin-left: 23px;
      }
      .col4 {
        margin-top: 20px;
      }
      
      .col3 input[type="text"], .col3 input[type="submit"] {
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border: 0px;
        margin-left: -20px;
      }
      
      .col3 input[type="submit"] {
        margin-top: -42px;
        background-color: #616C5B;
        color: #DBD9D9
      }
      
      .SoMe {
        display: flex;
        justify-content: end;
      }
      
      .SoMe img {
        width: 50%;
        margin: 15px 30px 0 0;
      }
      
      body {
        margin: 0px;
      }
      .flexboximg1{
        display: none;
      }
      /* Media Query for screens under 800px */
@media (max-width: 800px) {
  .nava{
    margin: 0px 10px 0px 10px;
  }
  
  .flexbox {
    display: block;
    text-align: center;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
  }
  .col3 input[type="text"], .col3 input[type="submit"] {
    width: 82%;
    margin-left: 10px;
  }
  .flexboximg {
    width: 100%;
    margin-bottom: 20px;
  }

  .flexboximg img {   
    margin-left: 0;
  }

  .flexboxitems {
    width: 100%;
    margin: 0;
  }
  .flexbox ul{
    text-align: left;
  }
  .flexboximg{
    display: none;
  }
  .flexboximg1{
    display: block;
    position: absolute;
    
    width: 12%;
    border-radius: 50%;
    top: 30%;
    left: 43.95%;
  }

}
      </style>      